.card {
    border-radius: 0.5em;
    border: 1px solid lightgray;
}

.card > .header {
    border-bottom: 1px solid lightgray;
    padding: 0.5em;
}

.card > .body {
    padding: 0.5em;
}

.card > .footer {
    border-top: 1px solid lightgray;
    padding: 0.5em;
}